
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

RubenServ.sublime-project
RubenServ.sublime-workspace
sftp-config.json
src/server/scripts/Custom/npc_top_arena_broken.cpp
